<form method="post" action="{{ path('app_episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Être-vous certain de vouloir supprimer cette épisode ?');" class="mt-2">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
