{% extends 'base.html.twig' %}

{% block title %}Ajout d'épisode{% endblock %}

{% block body %}
<main class="container mt-4">
    <h1 class="my-5">Créer un épisode</h1>

    {{ include('episode/_form.html.twig') }}
</main>
{% endblock %}
