{% extends 'base.html.twig' %}

{% block title %}Wild Series - Home Page{% endblock %}

{% block body %}
<h1 class="text-primary">Home Page</h1>
<img style="width:20rem;" src="{{ asset('build/images/figma.webp') }}" alt='' />
{% endblock %}