<form method="post" action="{{ path('app_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Être-vous certain de vouloir supprimer cette saison ?');" class="mt-2">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
