<form method="post" action="{{ path('program_admin_delete', {'id': program.id}) }}" onsubmit="return confirm('Être-vous certain de vouloir supprimer cette série ?');" class="mt-2">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
