$primary: #173FD0;
$secondary: #000000;

@import "~/node_modules/bootstrap/scss/bootstrap";

.th-action {
    width: 11rem;
}

#admin_registration_form_roles_1, #user_roles_1 {
    margin-left: 1rem !important;
}

input[type="checkbox"] {
    margin-right: 0.5rem !important;
}

div:has(#registration_form_agreeTerms) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#user_index_picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

#user_index_picture_admin {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

td {
    vertical-align: middle;
}

@media screen and (max-width: 530px) {
    #user_information {
        flex-direction: column !important;
    }
}