{{ form_start(form, {'action': path('category_show_with_programs'), 'method': 'POST', 'attr': {'class': 'd-flex'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mx-1">rechercher</button>
{{ form_end(form) }}