<nav class="bg-dark navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    {% if app.user %}
      {% if "ROLE_ADMIN" in app.user.roles %}
        {% include('/components/_admin_navbar.html.twig') %}
      {% else %}
        {% include('/components/_usual_navbar.html.twig') %}
      {% endif %}
    {% else %}
      {% include('/components/_usual_navbar.html.twig') %}
    {% endif %}
  </div>
</nav>