<nav class="bg-dark navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Wild Series</a>
        <li class="d-flex">
            {{ render(controller('App\\Controller\\FormController::categorySelectForm')) }}
        </li>
      <ul class="nav">
      
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/program">Séries</a>
        </li>
      </ul>
  </div>
</nav>

