{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main class="container">
    <h1 class="mt-5">Connecté sous l'email : {{ app.user.email }}</h1>
</main>
{% endblock %}
